# **<center>Assignment-4**

# **<center>Analysis of Basketball players**

DataLink:-
https://drive.google.com/file/d/1furxGQaYngOozIKS3r8G1KNbsJEvuuaa/view?usp=share_link</br>

Data Description: -https://drive.google.com/file/d/1mCSPXeIgWGc8cobEX9b896RF67uqQOd0/view?usp=share_link

**Questions:**<br>
**1. Gather and prepare data: Gather and prepare the data you will use to train the model. This may involve collecting data from various sources, do EDA, cleaning and formatting the data, and splitting it into training, validation, and testing sets.**

**Data Collection**

In [ ]:
# Download file from link)
# in given link, id = 1PYVO_O8fWzv3xO_lAe1tUx9zFydMciw8

!gdown https://drive.google.com/uc?id=1furxGQaYngOozIKS3r8G1KNbsJEvuuaa

Downloading...
From: https://drive.google.com/uc?id=1furxGQaYngOozIKS3r8G1KNbsJEvuuaa
To: /content/baseball_players.csv
100% 46.5k/46.5k [00:00<00:00, 55.2MB/s]

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

df = pd.read_csv("/content/baseball_players.csv")
df.head()

              Name Team       Position  Height(inches)  Weight(pounds)    Age
0    Adam_Donachie  BAL        Catcher              74           180.0  22.99
1        Paul_Bako  BAL        Catcher              74           215.0  34.69
2  Ramon_Hernandez  BAL        Catcher              72           210.0  30.78
3     Kevin_Millar  BAL  First_Baseman              72           210.0  35.43
4      Chris_Gomez  BAL  First_Baseman              73           188.0  35.71

**EDA**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034 entries, 0 to 1033
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            1034 non-null   object
 1   Team            1034 non-null   object
 2   Position        1034 non-null   object
 3   Height(inches)  1034 non-null   int64
 4   Weight(pounds)  1033 non-null   float64
 5   Age             1034 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 48.6+ KB

In [ ]:
df.isna().sum()

Name              0
Team              0
Position          0
Height(inches)    0
Weight(pounds)    1
Age               0
dtype: int64

In [ ]:
df["Name"].nunique()
# "Name" column is not so important we can drop it

df.drop(["Name"], axis=1, inplace=True)

In [ ]:
df["Team"].nunique()

# we have to encode this column

30

In [ ]:
encoded_df = pd.get_dummies(df["Team"], prefix="Team_")
df = pd.concat([df, encoded_df], axis=1)
df.drop(["Team"], axis=1, inplace=True)
df.head()

,Position,Height(inches),Weight(pounds),Age,Team__ANA,Team__ARZ,Team__ATL,Team__BAL,Team__BOS,Team__CHC,...,Team__PHI,Team__PIT,Team__SD,Team__SEA,Team__SF,Team__STL,Team__TB,Team__TEX,Team__TOR,Team__WAS
0,Catcher,74,180.0,22.99,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Catcher,74,215.0,34.69,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Catcher,72,210.0,30.78,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,First_Baseman,72,210.0,35.43,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,First_Baseman,73,188.0,35.71,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df["Position"].value_counts()

Relief_Pitcher       315
Starting_Pitcher     221
Outfielder           194
Catcher               76
Second_Baseman        58
First_Baseman         55
Shortstop             52
Third_Baseman         45
Designated_Hitter     18
Name: Position, dtype: int64

In [ ]:
encoded_df = pd.get_dummies(df["Position"], prefix="Position_")
df = pd.concat([df, encoded_df], axis=1)
df.drop(["Position"], axis=1, inplace=True)
df.head()

,Height(inches),Weight(pounds),Age,Team__ANA,Team__ARZ,Team__ATL,Team__BAL,Team__BOS,Team__CHC,Team__CIN,...,Team__WAS,Position__Catcher,Position__Designated_Hitter,Position__First_Baseman,Position__Outfielder,Position__Relief_Pitcher,Position__Second_Baseman,Position__Shortstop,Position__Starting_Pitcher,Position__Third_Baseman
0,74,180.0,22.99,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,74,215.0,34.69,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,72,210.0,30.78,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,72,210.0,35.43,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,73,188.0,35.71,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
# Fill null values
from statistics import mode

df["Weight(pounds)"].fillna(value=mode(df["Weight(pounds)"]), inplace=True)

**Train test split**

In [ ]:
x = df.drop(["Age"], axis=1)
y = df["Age"]

In [ ]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

**2. Choose a model: Use Linear Regression Algorithm.** **bold text**

In [ ]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

**3. Train the model: You'll need to train it using the  data you collected and prepared in step 2. This involves feeding the data into the model and adjusting the model's parameters until it produces accurate results.**

**4. Evaluate the model: After training the model, you'll need to evaluate its performance using the validation and testing sets. This will help you determine how well the model is able to generalize to new data and whether it is overfitting or underfitting.**

In [ ]:
#Training data accuracy

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
y_pred_train = model.predict(x_train)

mse = mean_squared_error(y_train,y_pred_train)
print("MSE :",mse)

rmse = np.sqrt(mse)
print("RMSE:",rmse)

mae = mean_absolute_error(y_train,y_pred_train)
print("MAE :",mae)

r2_value = r2_score(y_train,y_pred_train)
print("R-Squared :",r2_value)

MSE : 16.630718579215067
RMSE: 4.078077804458256
MAE : 3.21374328391872
R-Squared : 0.13221853336731326

In [ ]:
#Testing data accuracy

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
y_pred_test = model.predict(x_test)

mse = mean_squared_error(y_test,y_pred_test)
print("MSE :",mse)

rmse = np.sqrt(mse)
print("RMSE:",rmse)

mae = mean_absolute_error(y_test,y_pred_test)
print("MAE :",mae)

r2_value = r2_score(y_test,y_pred_test)
print("R-Squared :",r2_value)

MSE : 15.824329256217386
RMSE: 3.9779805500049124
MAE : 3.2017399383397493
R-Squared : 0.03860685375789963

From above results of training and testing dataset w can say that model is not perform well for training as well as testing dataset<br>
Means model is underfitted

**5. Fine-tune the model: Based on the results of the evaluation, you may need to fine-tune the model by adjusting the model's parameters, selecting different features, or using a different model architecture**

In [ ]:
# Hyperparameter Tuning
from sklearn.model_selection import GridSearchCV

# Define the hyperparameters and their possible values to tune
params = {
    'fit_intercept': [True, False],
    'positive': [True, False],
    'copy_X': [True, False]
}

# Create an instance of the LinearRegression model
model = LinearRegression()

# Create an instance of the GridSearchCV class and fit it to the data
grid_search = GridSearchCV(model, param_grid=params, cv=5)
grid_search.fit(x_train, y_train)

GridSearchCV(cv=5, estimator=LinearRegression(),
             param_grid={'copy_X': [True, False],
                         'fit_intercept': [True, False],
                         'positive': [True, False]})

In [ ]:
# Fit the model
new_model = grid_search.best_estimator_
new_model.fit(x_train,y_train)
y_pred_test = new_model.predict(x_test)
y_pred_train = new_model.predict(x_train)

In [ ]:
#Training data accuracy after hyperparameter tuning

mse = mean_squared_error(y_train,y_pred_train)
print("MSE :",mse)

rmse = np.sqrt(mse)
print("RMSE:",rmse)

mae = mean_absolute_error(y_train,y_pred_train)
print("MAE :",mae)

r2_value = r2_score(y_train,y_pred_train)
print("R-Squared :",r2_value)

MSE : 16.630718217507326
RMSE: 4.078077760110433
MAE : 3.213744095752721
R-Squared : 0.1322185522410183

In [ ]:
#Testing data accuracy after hyperparameter tuning

mse = mean_squared_error(y_test,y_pred_test)
print("MSE :",mse)

rmse = np.sqrt(mse)
print("RMSE:",rmse)

mae = mean_absolute_error(y_test,y_pred_test)
print("MAE :",mae)

r2_value = r2_score(y_test,y_pred_test)
print("R-Squared :",r2_value)

MSE : 15.824226288659009
RMSE: 3.9779676077940866
MAE : 3.2017375979216203
R-Squared : 0.03861310946095686

In [ ]:
# Still model is underfitting